<a id="contact" class="anchor"></a>
<footer id="contact-golf-virtuel" class="section footer">
    <div class="container">
        <img alt="logo golf virtuel agmm" class="image is-128x128 centered" src="/images/logo-golf-virtuel-balle.png">
        <br>
        <div class="content centered">
            <p><a href="tel:+18198405585">(819) 840-5585</a></p>
            <p><a href="mailto:golfagmm@gmail.com"><u>golfagmm@gmail.com</u></a></p>
            <a target="_blank" href="https://goo.gl/maps/iYdcBFzi6E8MCMdr8">1930 Rue BellefeuilleTrois-Rivières, QC G9A 3Y2</a>
        </div>
    </div>
</footer>