<section id="golf-virtuel-home" class="section hero is-fullheight-with-navbar">
    <h1 class="title is-1">Golf Virtuel</h1>
    <div class="container" style="display: flex;
    flex-direction: column;">
        <div class="content">
            <div class="is-size-2 has-text-centered">
                <p>PRÉSENTEMENT EN DÉMÉNAGEMENT</p>
                <p>Réouverture le 25 novembre</p>
            </div>
        </div>
        <a class="button is-primary is-large" style="background-color: #3c8b28;
            display: block;
            margin: auto;
            width: fit-content;" href="https://reserver.golfagmm.com">RÉSERVER EN LIGNE</a>
    </div>
</section>