<a class="anchor" id="tarifs"></a>
<section id="tarifs" class="section hero is-fullheight-with-navbar">
    <div class="container">
        <h2 class="title is-1">Tarifs</h2>
        <div class="content expanded">
            <div class="flex-columns">
                <div class="column spaced">
                    <table class="is-size-5-tablet">
                        <thead>
                            <tr>
                                <th>Tarif taxes incluses</th>
                                <th>Semaine</th>
                                <th>Weekend<sup class="small">2</sup></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>18 trous<sup class="small">1</sup></th>
                                <td>30$</td>
                                <td>33$</td>
                            </tr>
                            <tr>
                                <th>20 Parties</th>
                                <td colspan="2">560$</td>
                            </tr>
                            <tr>
                                <th>30 Parties</th>
                                <td colspan="2">795$</td>
                            </tr>
                            <tr>
                                <th>40 Parties</th>
                                <td colspan="2">980$</td>
                            </tr>
                            <tr>
                                <th>50 Parties</th>
                                <td colspan="2">1150$</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="column spaced">
                    <p>1: Lors des réservations, 1h par personne est calculé pour un 18 trou.</p>
                    <p>2: Les jours fériés sont tarifiés au prix de weekend.</p>
                    <p class="centered has-text-centered">
                        <a target="_blank"
                            href="https://docs.google.com/spreadsheets/d/e/2PACX-1vSIBf3Uq_3LKQVT0smc3JqVW9w1BNr0ghT9_Jjs_Vw86E8U3V9dHzVch4UpHB-KvSO8cQ-v_wS1kgKG/pubhtml?gid=1719629945&single=true">Grille
                            complète</a> des tarifs.
                    </p>
                    <div class="is-size-4">
                        <a class="button is-primary is-large" style="background-color: #3c8b28;
                        display: block;
                        margin: auto;
                        width: fit-content;" href="https://reserver.golfagmm.com">RÉSERVER EN LIGNE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>